body {
  font-family:'Roboto',sans-serif;
  color: black;
  background-color: black;
}

label.labelText {
  display: inline-block;
  width: 150px;
  text-align: right;
  padding: 1em 2em;
}

form#projectInput {
  padding: 1em;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modalContent {
  background-color: #fefefebd;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 500px;
}

h3#modalTitle {
  text-align: center;
}

.formModal {
  background-color: slateblue;
  margin: 10% auto;
  padding: 5px;
  border: 2px solid purple;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

div#container {
  display: grid;
  grid-template-columns: 0.6fr 1.4fr;
  grid-template-rows: 1fr;
  grid-auto-flow: row;
  grid-template-areas:
    "sidebar main";
}

div#sidebar {
  display: grid;
  grid-template-areas:
    "Action"
    "ProjectList";
  grid-area: sidebar;
}

div#projectList {
  display: flex;
  flex-direction: column;
  border: solid #000 1px;
  background-color: #FFF;
  min-height: 100vh;
  width: auto;
  padding-top: 5%;
}



div#action {
  display: flex;
  justify-content: space-evenly;

}

.actionButtons {
  margin-bottom: 15px;
  appearance: none;
  border: 1px solid #000;
  color: #FFF;
  padding: 6px 8px;
  font-size: 1rem;
  background-color: #000;
  letter-spacing: 0.25px;
  text-transform: uppercase;
}
.actionButtons:hover {
  background-color: #FFFFFF;
  color: #000;
  transition: all 0.2s ease;
  cursor: pointer;
}
div#main {
  display: flex;
  grid-area: main;
  border: solid #FFF 5px;
  color: #FFF;
  overflow-y: auto;
}
div#visibleCard {
  flex-grow: 1;
  color: #000;
  padding: 2em;
  background-color: #FFF;
  border: 10px solid black;
  background-clip: border-box;
}

div.listItems {
  display: flex;
  justify-content: center;
  font-size: 1.5em;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

div.listItems:hover {
  cursor: pointer;
  transform: scale(1.2) translateX(50px);
  transition: all 0.3s ease;
}

li.task {
  list-style: none;

}
input.radio:checked + input.userInput {
  /* Learn the logic behind this css selector. It's allowing the state of the radio to affect the text input next to it */
  text-decoration: line-through;
}
input.userInput {
  border: none;
  border-bottom: solid black 1px;
  margin-left: 2em;
  padding: 1em;
  min-width: 20vw;
}